---
name: autofix.ci
on: pull_request
permissions: {}
jobs:
  autofix:
    runs-on: ubuntu-24.04
    permissions: {}
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.2

      - run: aqua upc -prune
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
      - run: deno fmt
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
      - run: deno check
      - run: git ls-files | xargs nllint -f -s
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}

      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27 # v1.3.2
